@import "fonts";
@import "colors";
@import "mixin";



.container {
    text-align: center;
    font-family: $general-font;
    color: $general-letter-color;
    background-color: $general-background-color;
    
}


.menubuttons{
    @include button;    
    :hover {
        background-color: gray;
    }

    a{
        color: white;
    }

}

.LeoDropdown{
    margin-left: 5% ;
    a{
        color: white;
        :hover{
            background-color:$general-background-buttons;
        }
    }
}

.LeoDropdownItems{
    :active{
        background-color: black;
    }
    :hover {
        background-color:$general-background-buttons;
    }
    a{
        color:black;
        // :hover {
        //     background-color:gray;
        // }
        // :active{
        //     background-color: black;
        // }
    }
}

.menuContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}

.SeccionPoliticas,
.SeccionNosotros {
    background-color: $general-background-color;
}


body{
    background-color:$general-background-color;
}

img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px 10px 10px;
}


.Secciones{
     @include flex-row ;
}

.SeccionesTexto{
    @include SeccionesTexto ;
}


.LeoCarrusel{
    align-content: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px;
}
.carouselContainer{
    padding: 0px;
    padding-left: 0px;

}

.containerNopadding{
    padding: 0px;
    padding-right: 10px;
    
}



/*Media querys*/


@media (max-width: 800px) {
    .Secciones{
        @include flex-column
    }
   
}



